<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-8/js/all.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/CSS/Style4.css" />

    <title>Book Preview</title>
  </head>

  <body>
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-light"
      style="background-color: #f5f5f5"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/home/Homepage"
                ><i class="fas fa-home"></i> <span> Home </span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Categories</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/home/UploadBook"
                >Upload</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
            <a href="/home/AccountInfo">
              <button type="button" class="btn btn-light ms-2">
                <i class="fas fa-user"></i>
              </button>
            </a>
            <button type="button" class="btn btn-light ms-2">
              <i class="fas fa-download"></i>
            </button>
            <a href="/home/MyFavorites">
              <button type="button" class="btn btn-light ms-2">
                <i class="fas fa-heart"></i></button
            ></a>
            <a href="">
              <button type="button" class="btn btn-light ms-2">
                <i class="fas fa-sign-out-alt"></i></button
            ></a>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="card mt-6" style="width: 1200px; height: 650px">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end me-4 mt-4">
          <button type="button" class="btn btn-lg btn-outline-primary">
            <i class="fas fa-heart"></i>
          </button>
        </div>
        <div class="row g-0">
          <div class="col-4">
            <img
              src="/assets/CoverPercy/Percy 1.jpg"
              class="img-fluid rounded-3 ms-6 mt-4"
              width="300"
              height="400"
            />
          </div>
          <div class="col-7">
            <div class="card-body mt-5 ms-6">
              <h4 class="card-title">
                Percy Jackson and The Olympians: The Lightning Theif
              </h4>
              <p class="card-text">
                <small class="text-muted">Fantasy, Action, Advanture</small>
              </p>

              <div class="d-flex justify-content-between">
                <p class="card-text text-start">
                  <small class="text-muted">95 Liked</small>
                </p>
                <p class="card-text text-end">
                  <small class="text-muted">Comment</small>
                </p>
              </div>

              <p class="card-text">
                Percy Jackson adalah seorang pemuda berusia dua belas tahun,
                penderita disleksia, dan hampir dikeluarkan dari sekolah
                asramanya.Suatu hari dia diberitahu bahwa dia adalah putra dewa
                Poseidon. Sejak itu dia harus menghadapi petualangan yang tak
                pernah ia bayangkan sebelumnya.
              </p>
              <a href="#"
                ><button type="submit" class="btn btn-blue w-100 mt-5">
                  Download Now
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer justify-content-center mt-6 d-flex align-items-center">
      <img src="/assets/Logo.png" alt="" width="200" />
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->
  </body>
</html>
